/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Arvo');


/* NORMALIZE STYLES */
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

@-ms-viewport{
  width: device-width;
}
/* NAVIGATION */

.logo {
	width: 20%;
	margin: 12px 0px 0px 12px;
}
/*.scrolled {
	background-color: #4F5D75;
	position: fixed;
	top: 0;
	    right: 0;
    left: 0;
	z-index: 100;
	*/
}

.cta_orange {
	display: inline;
}
/* BODY - TYPE STYLES */

body {
	font-family: Roboto, Open Sans, sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: white;
	background-color: #2D3142;
}

section {
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	background-color: #2D3142;

}

main a {
	text-decoration: none;
}

p {
	font-family: Roboto, Open Sans, sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: white;
}

body main{
	background-image: url("images/background_image_v2.png");
	background-repeat: no-repeat;
	background-size: cover;
	/*need to fix this*/
	background-size: 100%;
	height: 100vh;
}

h1 {
	font-family: Arvo, Roboto, Open Sans, sans-serif;
	font-size: 40px;
	font-weight: 400;
	color: white;
	width: 365px;
	margin: 80px auto 20px auto;
}

h2 {
	font-family: Arvo, Roboto, Open Sans, sans-serif;
	font-size: 32px;
	font-weight: 400;
}

h3 {
	font-family: Roboto, Open Sans, sans-serif;
	font-size: 24px;
	font-weight: 400;
	color: white;
	padding: 25px 10px 0px 10px;
}

section .container h2 {
	color: #EF8354;
	padding-top: 150px;
}

section h3 {
	padding-top: 120px;
	text-align: center;
}
button h3 {
	padding: 9px 0px 9px 0px;

}
p {
	width: 365px;
	margin: 0 auto;
}

main p {
	margin-bottom: 30px;
}


/* BODY - OTHER STYLES */

button {
	display: block;
	width: 365px;
	height: 50px;
	background-color: #EF8354;
	margin: 0 auto;
	border-style: none;
	color: white;
	border-radius: 30px;
}

button:hover {
	background-color: #F26118;
	border-width: 2px;
	color: #44545E;
	transition: .7s ease-in;
}

/* BODY - HEADER BAR */

.navbar {
	text-align: right;
	margin-right: 80px;
}

.navbar a h3 {
	display: inline-block;
}

a:hover {
	color: #EF8354;
}

a.menu_links { cursor: crosshair; }

/* BODY - WORK DISPLAY */

.project_display {
	height: 1000px;
	background-color: #2D3142;
}


/* BODY - BOTTOM TRIANGLE */

.bottomtriangle {
	background-image: url("images/background image bottom.png");
	background-repeat: no-repeat;
	background-color: white;
	/*need to fix this*/
	background-size: 100%;
		height: 100vh;

}
/* BODY - FOOTER */

.sitefooter {
	background-color: #BFCOCO;
}

/* PROJECTS TO DISPLAY */



.container {
	display: grid;
	grid-template-columns: 450px 450px ;
	grid-template-rows: 300px 300px 300px 300px;
	grid-gap: 2rem;
	margin-top: 250px;
	grid-template-areas: 
	"header header"
	"item1 item2"
	"item3 item4"
	"item5 item6"

}

.header {
  grid-area: header;
  margin: 0 auto;
}

.item1 {
  grid-area: item1;
}

.item2 {
  grid-area: item2;
}

.item3 {
  grid-area: item3;
}

.item4 {
  grid-area: item4;
}

.item5 {
  grid-area: item5;
}

.item6 {
  grid-area: item6;
}

.item {
	background-color: #1EAAFC;
	background-image: linear-gradient(130deg, #EF8354 0%, #4F5D75 85%);
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	color: #fff;
	border-radius: 4px;
	border: non;
}


@media (max-width: 1024px) {

	.container {
		display: grid;
		grid-template-columns: 300px 300px ;
	grid-template-rows: 100px 200px 200px 200px;
	grid-gap: 2rem;
		margin-top: -400px;
		grid-template-areas: 
	"header header"
	"item1 item2"
	"item3 item4"
	"item5 item6"
	}
	section .container h2 {
		padding-top: 0px;
	}
	section h3 {
		font-size: 20px;
	padding-top: 80px;
	text-align: center;
}
}

@media (max-width: 768px) {

	.container {
		display: grid;
		grid-template-columns: 390px ;
		grid-template-rows: 100px 260px 260px 260px 260px 260px 260px;
		grid-gap: 1rem;
		margin-top: 100px;
		grid-template-areas: 
	"header"
	"item1"
	"item2"
	"item3"
	"item4"
	"item5"
	"item6"

	}
	section h3 {
		font-size: 20px;
	padding-top: 110px;
	text-align: center;
}
}

@media (max-width: 450px) {

	.container {
		display: grid;
		grid-template-columns: 300px ;
		grid-template-rows: 200px 200px 200px 200px 200px 200px 200px;
		grid-gap: 1rem;
		margin-top: -250px;
		grid-template-areas: 
	"header"
	"item1"
	"item2"
	"item3"
	"item4"
	"item5"
	"item6"
	}
	section .container h2 {
		padding-top: 50px;
	}
		section h3 {
		font-size: 20px;
	padding-top: 85px;
	text-align: center;
}
.navbar a h3 {
	display: inline-block;
	font-size: 20px;
}
}
/* RESPONSIVE DESIGN */

nav {
	display: flex;
	justify-content: space-between;
}

.col_2_3 {
	flex-basis: 66.66%;
}

.col_1_3 {
	flex-basis: 33.33%;
}

